html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Sarabun', sans-serif;

}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    background-color: #0f0e17;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3,
h4 {
    color: #fffffe;
}

h1,
h2 {
    font-weight: bold;
    font-size: 5rem;
}

header,
main {
    width: 90vw;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #f25f4c;
}

#main-answer,
#time-gif {
    height: 20rem;
    margin: 2rem;
}

main {
    margin-top: 3rem;
    background-color: #e53170;
}

h4 {
    font-size: 3rem;
    margin-top: 2rem;
}

.container {
    color: #333;
    margin: 0 auto;
    text-align: center;
}

li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 4.5rem;
}

#countdown {
    color: #fffffe;
}

@media screen and (min-width: 768px) {

    #main-answer,
    #time-gif {
        height: 15rem;
    }
}